.date-row {
  padding-bottom: var(--space-4);
  margin-bottom: var(--space-4);
  border-bottom: 1px solid var(--border-color);
}

.date-row:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: none;
}
